<div class="container">
    <div class="login-box">
        <div class="login-image">
        </div>
        <div class="login-form">
            <label for="">Login</label>
            <div class="login-email">
                <input type="email" placeholder="Email">
            </div>
            <div class="login-password">
                <input type="password">
            </div>
            <div class="login-submit">
                <button (click)="login()">Entrar</button>
            </div>
        </div>
    </div>
</div>