<div class="container">
    <div class="login-box">
        <div class="login-box-title">
        </div>
        <div class="login-image">
            <label for="" class="login-upper format">SOFT</label>
            <img src="assets/logo.png" alt="">
            <label for="" class="login-under format">AME</label>
        </div>

        <div class="login-form">
            <label for="" class="title">Login</label>
            <div class="login-email">
                <label for="" [(ngModel)]="email">Email</label>
                <input type="email" placeholder="Email">
            </div>
            <div class="login-password">
                <label for="" [(ngModel)]="password">Senha</label>
                <input type="password">
            </div>
            <div class="login-submit">
                <button (click)="login()">Entrar</button>
                <button>Cadastrar</button>
            </div>
        </div>
    </div>
</div>