<div class="container">
    <div class="quiz">
        <div *ngIf="Questions.length == 0" class="warning">
            <i>Não há questões disponíveis</i>
        </div>
        <div class="quiz-question" *ngFor="let question of slicedQuestions">
            <h4>{{question.subject}}<i>ID:{{question.id}}</i></h4>
            <img [src]="question.img" alt="">
            <div class="quiz-options" *ngFor="let option of question.options">
                <label>
                    <input type="checkbox" name="{{question.id}}" [value]="option.value" [checked]="option.selected"
                        (change)="updateSelection(question, option.value)">
                    {{option.value}}

                </label>
            </div>
            <div *ngIf="question.options">
                <p>Opção selecionada: {{selectedOption(question.options)?.value}}</p>
            </div>
        </div>

        <div class="quiz-paginator">
            <button *ngIf="Questions.length !=0" (click)="previous(); updatePaginator()">Anterior</button>
            <button *ngIf="!finish" (click)="next(); updatePaginator()">
                próximo
            </button>
            <div *ngIf="showFinishButton">
                <button (click)="score()" class="quiz-finish-button">Finalizar</button>
            </div>
        </div>
    </div>
</div>