<div class="container">
    <div class="quiz">
        <div class="quiz-question" *ngFor="let question of slicedQuestions">
            <h4>{{question.subject}}<i>ID:{{question.id}}</i></h4>
            <img [src]="question.img" alt="">
            <div class="quiz-options" *ngFor="let option of question.options">
                <label>
                    <input type="checkbox" name="{{question.id}}" [value]="option.value" [checked]="option.selected"
                        (change)="updateSelection(question, option.value)">
                        {{option.value}}

                </label>
            </div>
            <div *ngIf="question.options">
                <p>Opção selecionada: {{selectedOption(question.options)?.value}}</p>
            </div>
        </div>
        <button *ngIf="finish" (click)="score()">Finalizar</button>
        <div class="quiz-paginator">
            <button (click)="previous(); updatePaginator()">Anterior</button>
            <button (click)="next(); updatePaginator()">Próximo</button>
        </div>
    </div>
</div>