<div class="container">
  <div class="button-column">
    <button (click)="redirectToMode()" class="large-button">
      <i class="fas fa-gamepad"></i> Jogar
    </button>
    <button class="large-button">
      Instruções<i class="fas fa-info-circle"></i>
    </button>
    <button (click)="redirectToMenu()" class="large-button">
      <i class="fas fa-sign-out-alt"></i> Sair
    </button>
    <button (click)="redirectToRanking()" class="large-button">
      <i class="fas fa-list"></i> Ranking
    </button>
  </div>
</div>