<div class="form-layout" *ngIf="dataLoaded">
    <form>
        <label for="subject">Assunto:</label>
        <input type="text" [(ngModel)]="Question.subject" id="subject" name="subject"><br>

        <fieldset>
            <legend>Opções:</legend>

            <label for="option1-value">A:</label>
            <input type="text" id="option1-value" name="option1-value"
                [(ngModel)]="Question.options[0].value"><br>
            <label for="option1-label"></label>
            <label for="option1-correct">Correta:</label>
            <input type="checkbox" id="option1-correct" name="option1-correct"
                [(ngModel)]="Question.options[0].correct"><br>

            <label for="option2-value">B:</label>
            <input type="text" id="option2-value" name="option2-value"
                [(ngModel)]="Question.options[1].value"><br>
            <label for="option2-label"></label>
            <label for="option2-correct">Correta:</label>
            <input type="checkbox" id="option2-correct" name="option2-correct"
                [(ngModel)]="Question.options[1].correct"><br>

            <label for="option3-value">C:</label>
            <input type="text" id="option3-value" name="option3-value"
                [(ngModel)]="Question.options[2].value"><br>
            <label for="option3-label"></label>
            <label for="option3-correct">Correta:</label>
            <input type="checkbox" id="option3-correct" name="option3-correct"
                [(ngModel)]="Question.options[2].correct"><br>

            <label for="option4-value">D:</label>
            <input type="text" id="option4-value" name="option4-value"
                [(ngModel)]="Question.options[3].value"><br>
            <label for="option4-label"></label>
            <label for="option4-correct">Correta:</label>
            <input type="checkbox" id="option4-correct" name="option4-correct"
                [(ngModel)]="Question.options[3].correct"><br>
        </fieldset>


        <label for="img">Imagem:</label>
        <input type="url" [(ngModel)]="Question.img" id="img" name="img">
        <label for="">Confirmação de envio</label>
        <input type="submit" (click)="updateQuestion()">
    </form>
</div>